
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdminBSB.cshtml";
}

<div class="container-fluid">
    <div class="block-header">
        <h2>New Joiner Navigator _Dalian</h2>
    </div>
    <!-- Body Copy -->
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>
                        Welcome Guideline
                    </h2>
                    <ul class="header-dropdown m-r--5">
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons">more_vert</i>
                            </a>
                            <ul class="dropdown-menu pull-right">
                                <li><a href="javascript:void(0);">Action</a></li>
                                <li><a href="javascript:void(0);">Another action</a></li>
                                <li><a href="javascript:void(0);">Something else here</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="body">
                    <p class="lead">

                    </p>
                    <p>
                        您好！
                        欢迎加入埃森哲中国，成为我们大家庭的一员。相信您出色的能力一定会帮助埃森哲获得更快、更好的成长，也希望您在埃森哲的每一天都能有所收获并感受到家的温暖！
                        我们精心为您准备这份新员工指南，希望能帮助您尽快适应埃森哲的工作和生活。
                    </p>
                    <p>
                        第一部分：基本工作指南
                        1.1. 打开电脑后，我第一时间需要做什么？
                        1.	打开Outlook，以获得更多有用信息。
                        2.	打开Skype/Lync: Start-All Programs-Microsoft Office 2013-Skype for Business 2015
                        此为公司内部的即时沟通软件，可用于工作沟通、电话会议、视频会议等。
                    </p>
                    <p>
                        <div class="body table-responsive">
                            1.2.哪些系统对入职初期的我来说最重要？
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>No.</th>
                                        <th>Items 项目</th>
                                        <th>Timeline 时间</th>
                                        <th>Tool 工具</th>
                                        <th>Resource 资源</th>
                                        <th>Track by 追踪人</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Set up email signature (including full name, office tel. number, seat number)</td>
                                        <td>1st day on board 入职当日</td>
                                        <td>outlook</td>
                                        <td>NA</td>
                                        <td rowspan="4">Counselor 职业导师</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>Send the following information to counselor</td>
                                        <td>1st day on board 入职当日  within one month 一个月内</td>
                                        <td><a href="#">Engagement list</a></td>
                                        <td>NA</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td>Create CV 创建个人简历</td>
                                        <td>2 weeks 两周内</td>
                                        <td>https://myscheduling.accenture.com/</td>
                                        <td>NA</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">4</th>
                                        <td>Register foreigh language classroom training</td>
                                        <td>please refer to the emai from language trainer</td>
                                        <td>
                                            <button type="button" class="btn btn-default btn-circle waves-effect waves-circle waves-float">
                                                <i class="material-icons">file_download</i>
                                            </button>
                                        </td>
                                        <td>NA</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- #END# Body Copy -->
    <!-- Blockquotes -->
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>
                        BCM & IS_Advocate
                    </h2>
                    <ul class="header-dropdown m-r--5">
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons">more_vert</i>
                            </a>
                            <ul class="dropdown-menu pull-right">
                                <li><a href="javascript:void(0);">Action</a></li>
                                <li><a href="javascript:void(0);">Another action</a></li>
                                <li><a href="javascript:void(0);">Something else here</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="body">
                    
                    <blockquote>
                        <header>IS Advocate</header>
                        <p>1) log in    IS Advocate
                           2) Complete required Bronze, Sliver and Gold courses   (完成指定铜牌，银牌，金牌课程)
                           3) Subscribe to Protecting Accenture on the Portal to earn bronze flair   (订阅 Protecting Accenture 以获得铜牌证书)</p>
                        <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                    </blockquote>
                    
                    <blockquote>
                        <header> Business Continuity Management</header>
                        <p>
                            Purpose: Accenture’s approach to business continuity, and the importance of effective planning, preparedness.
                        </p>
                        <footer>Link:<cite title="Source Title">https://mylearning.accenture.com/course/id/1505239</cite></footer>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
    <!-- #END# Blockquotes -->
    
</div>
